<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart City - Citizens</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Path for the CSS file -->
</head>

<body>

    <header>
        <h1>Welcome to the Smart City</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register Citizen</a></li>
                <li><a href="/citizens">Citizens List</a></li>
                <li><a href="/infrastructure">Infrastructure Details</a></li>
                <li><a href="/weather">Check Weather of City</a></li>
                <li><a href="/services">Services in City</a></li>
            </ul>
        </nav>
    </header>

    <!--  
    <section class="citizens-list">
        <h2>Citizens List</h2>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                
                <tr th:each="citizen : ${citizens}">
                    <td th:text="${citizen.id}"></td>
                    <td th:text="${citizen.name}"></td>
                    <td th:text="${citizen.email}"></td>
                    <td th:text="${citizen.address}"></td>
                </tr>
            </tbody>
        </table>-->
    </section>

    <footer>
        <p>&copy; 2025 Smart City. All rights reserved.</p>
    </footer>

</body>

</html>
